.display_first {
  height: 90vh;
  width: 115vw;
  display: flex;
  max-width: 100%;
}
.display_ad {
  width: 60%;
  height: 90%;
  z-index: -1;
  margin-bottom: -50px;
  margin-right: 30px;
  max-width: 1500px;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));    */
}
p > description {
  display: grid;
  align-items: center;
  text-align: center;
}
.container {
  font-size: 20px;
  /* display: flex; */
  align-items: center;
  padding-bottom: 0px;
  height: 80vh;
  width: 100vw;
  border-radius: 5%;
  /* padding-top: 25px; */
}
.btn_start {
  border-radius: 30px;
  background-color: cadetblue;
  height: 40px;
  width: 10vw;
  color: white;
  font-size: 20px;
  margin-top: 25px;
  border: none;
  font-weight: 600;
  box-shadow: 0 5px 10px 0 gray;
}

.weight_loss {
  height: 60vh;
  width: 60%;
  display: flex;
}
