body {
  background-color: cadetblue;
  margin: 0;
  padding: 0;
  /* padding-top: 10px; */
}
h2 {
  font-size: 38px;
}
.user_info {
  background-color: cadetblue;
  margin-left: 390px;
  height: 140%;
  width: 30%;
  display: flex;
  text-align: center;
  border: #ddd solid 2px;
  border-radius: 35px;
  box-sizing: border-box;
  box-shadow: #dddd 2px 3px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  grid-gap: 5px;
  /* grid-template-columns: auto auto auto; */
  margin-top: 10px;
  padding-bottom: 30px;

  /* display: grid; */
  /* grid-template-columns: repeat(3, auto); */
  /* grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); */
}
.info1 {
  /* input[type="text"] { */
  width: 80%;
  padding-top: 23px;
  padding: 12px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}
form > .select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}
/* .info1 { */
/* background-color: rgb(131, 77, 131); */
/* width: 50%; */
/* justify-content: space-evenly; */
/* display: grid; */
/* grid-template-columns: 40% 40% 80%; */
/* grid-template-rows: repeat(4, 50px);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 5rem; */

/* padding-right: 40%; */
/* margin-right: 50%; */

/* grid-template-rows: 60% 60px 60px; */
/* } */
/* .info1 > input {
  width: 30px;
  height: 30%;
  color: aqua;
} */
/* input {
  /* appearance: none;
  background: none;
  border: none;
  outline: none; */
/* width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
} */
form {
  display: block;
  position: relative;
  background-color: cadetblue;
  width: 210px;
}
form::after {
  /* content: " "; */
  display: block;
  position: absolute;
  background-color: white;
}
form > h5 {
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 3px;
}
form > .info1 {
  width: 70%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}
.info_btn {
  width: 60%;
  font-size: 20px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
