body {
  background-color: white;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
h1 {
  font-size: 38px;
  display: flex;
  font-weight: 800;
}
/* .header {
  display: flex;
  color: black;
  /* align-items: center; */
/* text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  padding-right: 10px;
} */

.logo_design {
  height: 12vh;
  display: flex;
  padding-top: 6px;
}
.login {
  /* padding-top: 10px; */
  background-color: cadetblue;
  margin-left: 390px;
  height: 150%;
  width: 35%;
  display: flex;
  /* text-align: center; */
  border: #ddd solid 2px;
  border-radius: 35px;
  box-sizing: border-box;
  box-shadow: #dddd 2px 3px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
input[type="text"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="password"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 7px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
  box-shadow: 0 5px 10px 0 gray;
  font-weight: 500;
}

select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: antiquewhite;
  border-style: hidden;
  border-radius: 15px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
}
.login_btn {
  color: cadetblue;
  cursor: pointer;
  border-radius: 16px;
}
.btn {
  border-radius: 16px;
  height: 4vh;
  cursor: pointer;
  background-color: cadetblue;
  border: none;

  /* width: 0px; */
}
