.ad {
  height: 60%;
  /* width: 90%; */
  background-position: center;

  /* background-image: linear-gradient(rgba(0, 0, 100, 0.8), rgba(0, 0, 100, 0.8)),
    url("C:\Capstone_Project\Capstone\my-app\public\image.jpg"); */
}
.main1 {
  /* align-items: center; */
  /* display: flex; */
  margin-left: 30%;
  padding-top: 15%;
  font-size: 35px;
  font-stretch: expanded;
  font-style: oblique;
  /* text-align: center; */
  /* background-color: linear-gradient(rgba(0, 0, 100, 0.8), rgba(0, 0, 100, 0.8)), */
  background-image: url("./image.jpg");
  /* margin-right: 20%; */
  /* text-align: center; */
  position: fixed;
  min-width: 50%;
  min-height: 50%;
  background-size: cover;
  /* background-position: center; */
  transform-style: preserve-3d;
}
.main1 > p {
  align-items: center;
  display: flex;
  margin-left: 30%;
  padding-bottom: 20px;
  /* padding-top: 10px; */
  /* margin-right: 10%; */
}
.main1 > button {
  height: 40%;
  width: 20%;
  font-size: large;
  border-radius: 35px;
  /* margin-right: 20px; */
}
.main2,
.main3 {
  margin-right: 40px;
  /* width: 50%; */
  font-size: 20px;
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  /* margin-right: 25%; */
}
.btn2 {
  margin-right: 10px;
  width: 60%;
  font-size: 20px;
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 15%; */
}
