.premium {
  /* display: flex; */
  align-items: center;
  font-size: large;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 60%;
  /* display: flex; */
  align-items: center;
  /* background-color: #ddd; */
  /* height: 90%; */
}
.free {
  color: #000;
  /* border: chartreuse; */
  /* align-items: center; */
}
.paid {
  margin: 0;
  border: chocolate;
  margin-left: 30%;
  padding-bottom: 70%;
  align-items: center;
  margin-bottom: 20%;
  /* padding-top: 10%; */
}
.pre4 {
  /* margin-right: 50%; */
  margin-left: 20%;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 90%; */
}
.pre1 {
  background-color: cadetblue;
  /* height: 40%; */
  /* font-size: large; */
  /* margin-right: 10px; */
  border-radius: 35px;
  width: 20%;
  font-size: 20px;
  /* background-color: #ddd; */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 15%; */
  /* margin-right: 5%; */
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.pre2 {
  /* background-color: cadetblue;
  height: 40%;
  font-size: large;
  margin-left: 10px;
  border-radius: 35px;
  min-height: 10%; */
  background-color: cadetblue;
  /* margin-top: 20%; */
  /* margin-bottom: 20%; */
  /* height: 40%; */
  /* font-size: large; */
  /* margin-right: 10px; */
  border-radius: 35px;
  /* width: 20%; */
  font-size: 20px;
  /* background-color: #ddd; */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 5%; */
  margin-right: 15%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 10%; */
  /* margin-top: 10%; */
}
